{% if package_manager == 'uv' %}
[project]
name = "{{project_name}}"
version = "0.1.0"
description = "My API description"
authors = [
  { name = "Your Name", email = "<you@example.com>" }
]
license = { text = "MIT" }
requires-python = ">=3.10"

dependencies = [
  "kegstand>=0.4.0",
]

[dependency-groups]
dev = [
  "kegstandcli>=0.4.0",
{% if include_tests %}
  "pytest>=7.3.0",
{% endif %}
]

[tool.kegstand.api_gateway]
name = "My API Gateway"
# user_pool_id = "eu-west-1_vatofacid"

[tool.kegstand.api]
name = "My Service API"

{% if include_tests %}
[tool.pytest.ini_options]
pythonpath = "src"
{% endif %}

[build-system]
requires = ["hatchling"]
build-backend = "hatchling.build"
{% endif %}
{% if package_manager == 'poetry' %}
[tool.poetry]
name = "{{project_name}}"
version = "0.1.0"
description = "My API description"
authors = ["Your Name <you@example.com>"]
license = "MIT"

[tool.poetry.dependencies]
kegstand = "^0.4.0"
python = "^3.10"

[tool.poetry.group.dev.dependencies]
kegstandcli = "^0.4.0"
{% if include_tests %}
pytest = "^7.3.0"
{% endif %}

[tool.kegstand.api_gateway]
name = "My API Gateway"
# user_pool_id = "eu-west-1_vatofacid"

[tool.kegstand.api]
name = "My Service API"

{% if include_tests %}
[tool.pytest.ini_options]
pythonpath = "src"
{% endif %}

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
{% endif %}
